@import '../variables/variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

button:focus,
input:focus,
select:focus,
span:focus,
textarea:focus,
label:focus {
  outline: none;
}

p, span, a, {
  color: $dark;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 70px auto 40px;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #212529;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

#body {
  flex-direction: column;
  min-height: 100vh;

  header,
  footer {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
  }

  header {
    .logo {
      width: 135px;
    }

    @media (max-width: 768px) {
      align-items: flex-start;
      justify-content: center;
      z-index: 10;

      .logo {
        position: absolute;
        left: 40%;
        padding-top: 7px;
        width: 100px;
      }
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  .product-form-wrapper {
    margin: 0 5px;
    width: 100%;
    max-width: 655px;

    form#product {
      width: 100%;
      height: 40px;
      overflow: hidden;
      border-radius: 5px;
      align-items: stretch;
      box-shadow: 0 4px 14px rgba(106, 117, 202, 0.1);

      label {
        display: block;
        min-width: 100px;
        text-align: center;
        font-size: 14px;
        line-height: 40px;
        color: #B6C2D1;
      }
      button {
        justify-content: center;
        width: 100%;
        max-width: 140px;
        background: $accent;
        color: #fff;
        border: none;
      }

      input[name="search"] {
        width: 100%;
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.07);
        padding: 0 24px;
        color: #000000;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;

        &::placeholder {
          color: transparent;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
        }

        @media (max-width: 768px) {
          border-left: none;

           &::placeholder {
             color: #B6C2D1;
           }
        }
      }

      @media (max-width: 768px) {
        label {
          display: none;
        }

        button {
          display: none;
        }
      }
    }

    @media (max-width: 955px) {
      max-width: 60%;
    }

    @media (max-width: 768px) {
      margin: 0;
      padding-top: 50px;
      max-width: 368px;
      order: 3;
    }

  }

  .panel {
    .basket,
    .user {
      margin: 0 15px;

      @media (max-width: 450px) {
        margin: 0 10px;

        button {
          width: 20px;
          height: 20px;
          padding: 0;
        }
      }

      @media (max-width: 375px) {
        margin: 0 5px;
      }
    }

    .quantity {
      display: none;
    }

    .basket.filled {
      display: flex;
      align-items: center;
      justify-content: center;

      .quantity {
        display: block;

        p {
          font-weight: bold;
          font-size: 10px;
          color: $accent;
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        width: 36px;
        height: 36px;
        background: linear-gradient(120.65deg, #4153DF 31.4%, #8741DF 100%);
        border-radius: 22px;

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 22px;
    }

    button {
      border: none;
      background: transparent;
      justify-content: center;

      img {
        pointer-events: none;
      }
    }

    @media (max-width: 768px) {
      justify-content: flex-end;
      width: 100%;
      order: 2;
    }
  }

  .panel-sign-in {
    justify-content: flex-end;

    a {
      display: inline-block;
      padding: 8px 30px;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      color: #FFFFFF;
      background: $accent;
      border-radius: 50px;
    }


    @media (max-width: 768px) {
      width: 100%;
      order: 2;
      padding: 5px 0;

      a {
        padding: 5px 20px;
        font-size: 12px;
      }
    }

    @media (max-width: 425px) {

      a {
        padding: 2px 10px;
        font-size: 10px;
      }
    }
  }

  footer {
    padding-top: 65px;
    width: 100%;
    background: #F6F7FC;

    .container {
      flex-wrap: wrap;
    }

    .panel-m {
      width: 100%;

      @media (max-width: 375px) {
        margin-bottom: 56px;
      }
    }

    .panel-l {
      ul {
        a {
          display: inline-block;
          padding: 0 8px;

          @media (max-width: 850px) {
            font-size: 12px;
            padding: 0 5px;
          }
        }

        li:last-child a {
          padding-right: 0;
        }

        li:first-child a {
          padding-left: 0;
        }

        @media (max-width: 375px) {
          flex-direction: column;
          align-items: flex-start;

          a {
            padding-top: 4px;
            padding-bottom: 4px;
          }

          li:last-child a {
            padding-right: 8px;
          }

          li:first-child a {
            padding-left: 8px;
          }
        }
      }
    }

    .panel-footer>.flex {
      width: 100%;
      flex: 1;
      padding: 8px 0;
    }

    .social-box {
      ul {
        margin: 0 0 0 auto;
        padding-left: 20px;
        padding-bottom: 12px;
        max-width: max-content;
        border-bottom: 1px solid #CED1EB;

        @media (max-width: 768px) {
          margin: 0 auto;
          padding-right: 10px;
          padding-left: 10px;
        }
      }

      a {
        span {
          display: inline-block;
          margin: 0 8px;
          width: 24px;
          height: 24px;
        }
      }
    }

    .rights-text {
      p {
        padding-left: 10px;
        font-size: 14px;
        line-height: 24px;
        color: $AccentGrey;

        @media (max-width: 850px) {
          font-size: 12px;
        }
      }
    }

    .link-box {
      padding: 0 5px;

      ul {
        span {
          display: inline-block;
          padding: 0 8px;
          width: 20px;
          height: 20px;
        }

        li:last-child span {
          padding-right: 0;
        }

        li:first-child span {
          padding-left: 0;
        }
      }
    }


    @media (max-width: 768px) {
      margin-top: 40px;
      padding-top: 24px;

      .panel-r {
        flex-direction: column;
        align-items: flex-end;
      }
    }

    @media(max-width: 375px) {
      padding-top: 48px;

      .panel-r {
        min-height: 105px;
      }
    }
  }
}

#menu {
  padding-bottom: 10px;

  .menu-wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #F0F3F8;

    @media (max-width: 375px) {
      border-bottom: none;
    }
  }

  .categories-list {
    position: relative;
    padding-top: 5px;
    min-height: 25px;

    .headline_categories-list {
      max-width: max-content;
      cursor: pointer;

      p {
        margin: 0;
        padding: 0 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #312A3C;
      }

      .categories-list-icon {
        justify-content: center;
      }
    }

     ul {
       position: absolute;
       top: 24px;
       left: 0;
       opacity: 0;
       pointer-events: none;
       margin: 0;
       padding: 12px;
       overflow-y: scroll;
       width: max-content;
       height: 279px;
       background: #FFFFFF;
       box-shadow: 0 7px 20px -5px rgba(113, 200, 220, 0.25);
       border-radius: 4px;
       transition: .3s ease-in;

       li a {
         color: #212529;
         display: inline-block;
         padding: 4px;
         font-size: 14px;
         line-height: 18px;
       }
     }

    &:hover {
      ul {
        pointer-events: auto;
        opacity: 1;
      }
    }

    @media (max-width: 375px) {
      padding: 0;
      width: 100%;
      background: $accent;
      border-radius: 5px;

      .headline_categories-list {
        margin: 11px auto;

        p {
          color: #ffffff;
        }
      }

      ul {
        width: 100%;
        top: 45px;
      }
    }
  }

  .menu-list {
    ul {
      margin: 0 0 0 10px;
      a {
        display: inline-block;
        margin: 0 10px;
        padding: 0 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;

        @media (max-width: 900px) {
          margin: 0 5px;
          padding: 0 5px;
          font-size: 12px;
        }
      }

      @media (max-width: 768px) {
        margin: 0;
        flex-direction: column;

        a {
          margin: 20px 5px;
        }
      }
    }
  }
}

main {
  flex: 1;

  &.flex {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
}

#mobile-icon {
  display: none;
  padding: 5px;
  flex-direction: column;
  width: 30px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 23px;
  left: 23px;

  span {
    width: 12px;
    height: 2px;
    background: $AccentGrey;
  }

  span:first-child,
  span:last-child {
    width: 16px;
  }

  @media (max-width: 768px) {
    display: flex;
    z-index: 10;
  }
}

#menu-content {
  -webkit-transition: height .25s ease;
  -o-transition: height .25s ease;
  transition: height .25s ease;
  overflow: hidden;

  @media (max-width: 768px) {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F6F7FC;
    z-index: 1;
  }
}


@media (max-width: 768px) {
  #menu-content:not(.show) {
    display: none;
  }
}

#modal-cart {
  position: fixed;
  overflow-y: scroll;
  padding: 40px 0;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  opacity: 0;
  z-index: -10;
  transition: .3s ease-in;

  &.open {
    opacity: 1;
    z-index: 10;
  }

  .box-cart-wrapper {
    justify-content: center;
    width: 100%;
    max-width: 672px;

    .box-cart {
      background: #FFFFFF;
      overflow: hidden;
      border-radius: 8px;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      width: 100%;

      .headline {
        padding: 25px;

        p {
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          color: #212529;
        }

        .close {
          width: 20px;
          height: 20px;
          cursor: pointer;

          img {
            pointer-events: none;
          }
        }
      }

      .cart-list {
        padding: 8px 24px;
        height: 642px;
        overflow-y: scroll;

        .cart-item {
          position: relative;
          align-items: stretch;
          justify-content: stretch;
          margin-bottom: 8px;
          padding: 20px 20px 30px;
          min-height: 310px;
          background: #FFFFFF;
          box-shadow: 0 4px 14px rgba(106, 117, 202, 0.1);
          border-radius: 8px;


          .img-wrapper {
            width: 160px;
            height: 160px;
            justify-content: center;

            img {
              width: auto;
              max-width: 100%;
              max-height: 100%;
            }
          }

          .product-info-box {
            margin-left: 40px;
            flex: 1;

            .score {
              justify-content: flex-start;

              .score-logo {
                margin-right: 7px;
              }
            }
          }

          div.name {
            margin: 8px 0 16px;
            font-weight: bold;
            font-size: 24px;
            line-height: 160%;
            color: #212529;
          }

          .color {
            justify-content: flex-start;
            margin-bottom: 8px;

            .title {
              margin-right: 14px;
              font-size: 14px;
              line-height: 18px;
              color: #000000;
            }

            .box-color {
              width: 16px;
              height: 16px;
              border-radius: 2px;
            }

            .name {
              margin-left: 8px;
              font-size: 12px;
              line-height: 18px;
              color: #7C8C9E;
            }
          }

          .quantity {
            justify-content: flex-start;
            margin-bottom: 16px;

            .title {
              font-size: 14px;
              line-height: 18px;
            }

            .quantity-box {
              margin-left: 24px;
              label {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                background: #F0F3F8;
                box-shadow: 0 4px 14px rgba(106, 117, 202, 0.1);
                border-radius: 2px;
                color: $accent;
                font-weight: 300;
                cursor: pointer;
                user-select: none;
              }

              input {
                width: 43px;
                border: none;
                text-align: center;
                background: transparent;
              }

              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
          }

          .price {
            min-height: 40px;
            justify-content: flex-start;
            margin-bottom: 25px;

            .title {
              margin-right: 16px;
              font-size: 16px;
              line-height: 18px;
            }

            .price-unit {
              &,
              span {
                font-weight: bold;
                font-size: 24px;
                color: #212529;
              }
            }
          }

          .order {
            justify-content: flex-start;

            button {
              margin-right: 25px;
              min-width: 160px;
              padding: 8px;
              background: #2B3847;
              border-radius: 8px;
              font-weight: bold;
              font-size: 16px;
              line-height: 160%;
              color: #FFFFFF;
              border: none;
            }


            .heart-box {
              cursor: pointer;

              svg {
                pointer-events: none;
                path {
                  fill: transparent;
                  stroke: #B6C2D1;
                  transition-property: fill, stroke;
                  transition-duration: 0.3s, 0.3s;
                  transition-timing-function: ease-in, ease-in;
                  transition-delay: 0s, 0s;
                }
              }

              &:hover,
              &.active {
                svg {
                  path {
                    stroke: $accentSecond;
                    fill: $accentSecond;
                  }
                }
              }
            }
          }

          .checked-box,
          .basket-box {
            position: absolute;
            top: 24px;
          }

          .checked-box {
            left: 24px;
            width: 16px;
            height: 16px;
            border-radius: 2px;
            overflow: hidden;

            label {
              width: 16px;
              height: 16px;
            }

            span {
              width: 16px;
              height: 16px;
            }

            label > input[type="checkbox"] {
              display: none;
            }
            label > input[type="checkbox"] + *::before {
              content: "";
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 10px;
              width: 14px;
              height: 14px;
              border-radius: 2px;
              border: 1px solid #C9CFDB;
              flex-shrink: 0;
              cursor: pointer;
              line-height: 16px;
            }
            label > input[type="checkbox"]:checked + * {
              color: #4153DF;
            }
            label > input[type="checkbox"]:checked + *::before {
              content: "✓";
              color: white;
              text-align: center;
              background: #4153DF;
              border-color: #4153DF;
            }

            label > input[type="checkbox"] + * {
              display: flex;
            }
          }

          .basket-box {
            top: 20px;
            right: 20px;
            cursor: pointer;

            img {
              pointer-events: none;
            }
          }
        }
      }

      .panel-cart {
        padding-top: 25px;

        a {
          padding: 24px;
          color: #fff;
          justify-content: center;
          align-items: center;
          width: 50%;

          &:first-child {
            background: $AccentGrey;
          }

          &:last-child {
            background: $accentSecond;
          }

          span.text {
            color: #fff;
            padding-right: 10px;
          }

          span.icon {
            width: 10px;
            height: 14px;
            display: flex;
          }
        }
      }
    }
  }

  @media(max-width: 700px) {
    padding: 0;
    align-items: stretch;
    justify-content: stretch;

    .box-cart-wrapper {
      max-width: none;
      align-items: stretch;

      .box-cart {
        justify-content: space-between;
        overflow: auto;
        border-radius: 0;
        
        .cart-list {
          height: auto;
        }
      }
    }
  }
}